<!-- TODO: add animations -->
<nav class="navbar fixed w-full z-20 top-0 left-0" >
  <div class="max-w-7xl flex flex-wrap items-center justify-between mx-auto p-4">
    <!-- Logo -->
    <a href="#home" fragment="home" (click)="closeMenu()" class="flex items-center space-x-2">
      <div class="nav-logo">
        <img src="icons/terminal.png" alt="Logo" class="logo">
      </div>
      
      <span class="self-center text-white text-xl text-heading font-semibold whitespace-nowrap">
        Xavier
      </span>
      <span class="self-center text-[#00D3F3] text-xl text-heading font-semibold whitespace-nowrap">
        Portfolio
      </span>
    </a>

    <!-- Mobile Toggle -->
    <button
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
      aria-controls="navbar-default"
      [attr.aria-expanded]="isMenuOpen()"
      (click)="toggleMenu()"
    >
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-width="2"
          d="M5 7h14M5 12h14M5 17h14"
        />
      </svg>
    </button>

    <!-- Nav Links -->
    <div
      class="w-full md:block md:w-auto"
      id="navbar-default"
      [class.hidden]="!isMenuOpen()"
      (click)="closeMenu()"
    >
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-neutral-primary"
      >
        <li><a href="#about" fragment="about" class="nav-link consola-mono">// 01. About</a></li>
        <li><a href="#skills" fragment="skills" class="nav-link consola-mono">// 02. Skills</a></li>
        <li><a href="#projects" fragment="projects" class="nav-link consola-mono">// 03. Projects</a></li>
        <li><a href="#contacts" fragment="contacts" class="nav-link consola-mono">// 04. Contacts</a></li>
        <li><a routerLink="/resume" class="btn-secondary consola-mono">Resume</a></li>
      </ul>
    </div>
  </div>
</nav>
